<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:camel="http://camel.apache.org/schema/spring"
       xmlns:context="http://www.springframework.org/schema/context" 
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <camelContext xmlns="http://camel.apache.org/schema/spring">
 
        <propertyPlaceholder id="properties" location="classpath:application.properties"/>
 
        <route id="timerToInRoute">
            <from uri="timer:fireEvent?period=60s"/>
            <transform>
                <simple>${date:now:yyyy-MM-dd HH:mm:ss}</simple>
            </transform>
            <to uri="activemq:queue:{{app.monitor.queue.system.event.in}}"/>
        </route>
 
        <route id="systemEventQueueIn">
            <from uri="activemq:queue:{{app.monitor.queue.system.event.in}}"/>
            <to uri="bean:eventListener"/>
        </route>
 
        <route id="systemTaskQueueIn">
            <from uri="activemq:queue:{{app.monitor.queue.system.task.in}}?concurrentConsumers=5"/>
            <to uri="bean:taskListener"/>
        </route>
 
        <route id="systemActionQueueIn">
            <from uri="activemq:queue:{{app.monitor.queue.system.action.in}}?concurrentConsumers=5"/>
            <to uri="bean:actionListener"/>
        </route>
 
    </camelContext>
 
    <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL">
                    <value>${app.activemq.brokerURL}</value>
                </property>
            </bean>
        </property>
    </bean>
 
    <bean id="producerTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsFactory"></property>
    </bean>
 
    <bean id="eventListener" class="com.marketplace.monitor.jms.listeners.EventListener">
        <property name="producerTemplate" ref="producerTemplate"/>
    </bean>
    <bean id="taskListener" class="com.marketplace.monitor.jms.listeners.TaskListener">
        <property name="producerTemplate" ref="producerTemplate"/>
    </bean>
    <bean id="actionListener" class="com.marketplace.monitor.jms.listeners.ActionListener" />
 
    <bean id="activemq" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="brokerURL" value="${app.activemq.brokerURL}"/>
    </bean>
    
</beans>