body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar {
    margin-bottom: 20px;
}

.animate-fade {
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.animate-fade.ng-enter, .animate-fade.ng-leave {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-fade.ng-enter,
.animate-fade.ng-leave.ng-leave-active {
  opacity: 0;
}

.animate-fade.ng-leave,
.animate-fade.ng-enter.ng-enter-active {
  opacity: 1;
}